# Copy this file to .env and fill in your values
# NEVER commit the actual .env file

SUPABASE_URL=https://zmplunreqqmvqoyrrceq.supabase.co
SUPABASE_ANON_KEY=your-anon-key-here
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
PUBLISHABLE_KEY=sb_publishable_1puUo8oiLCS0DT4VKCiWbw_VPNqVGmG

# supabase login
# supabase init
# supabase link --project-ref zmplunreqqmvqoyrrceq

# App Config
APP_NAME=عيادتي
APP_ENV=development
